.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.nb.html

__pycache__/
*.py[cod]
*$py.class

geostat-pipeline/data/raw/TX_STAID*.txt
geostat-pipeline/data/processed/*.csv
geostat-pipeline/data/processed/processed_*.txt
legacy/Geostatistics_AAHI.pdf

.vscode/
.DS_Store
Thumbs.db